<% include ../partials/header %>

<section id="header" class="jumbotron">
  <h1 class="intro display-2">  <%= user.name %> </h1>
  <hr>
</section>

<div class="container">
  <% if(error && error.length > 0){ %>
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
  <% } %>
  <% if(success && success.length > 0){ %>
    <div class="alert alert-success" role="alert">
    <%= success %>
    </div>
  <% } %>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-3 mb-3 text-center">
      <img class="profilePic" src="<%= user.image%>" >
    </div>

    <div class="col-xs-12 col-md-4 mt-2">
      <h1>Info:</h1>
      <p><%= user.name %> <%= user.surname %></p>
    </div>

    <div class="col-xs-12 col-md-5 ">
      <h1>Social:</h1>
        <% if(user.facebook === ""){ %>
          <p>I didn't connected my facebook yet</p>
        <% } %>
        <% if (user.facebook) { %>
        <p><a href="<%=user.facebook%>">My Facebook</a></p>
        <% } %>

        <% if(user.instagram === ""){ %>
          <p>I didn't connected my Instagram yet</p>
        <% } %>
        <% if(user.instagram ) { %>
        <p><a href="<%=user.instagram%>">My Instagram</a></p>
        <% } %>
    </div>

  </div>


</div>

<% include ../partials/footer %>
