<% include ../partials/header %>

<section id="header" class="jumbotron">
  <h1 class="intro display-2">See the World From Another Eye</h1>
  <hr>
</section>

<div class="container">
  <% if(error && error.length > 0){ %>
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
  <% } %>
  <% if(success && success.length > 0){ %>
    <div class="alert alert-success" role="alert">
    <%= success %>
    </div>
  <% } %>
</div>

<section id="gallery" class="container">
  <div class="row">
    <% pictures.slice().reverse().forEach( function (picture){ %>
    <div class="col-lg-4 col-sm-6 mb-4">
        <a href="/collection/<%= picture._id %>"><img class="rounded img-thumbnail collectionPreview" src="<%= picture.image %>" alt="<%= picture.title %>" oncontextmenu="return false;" /></a>
  </div>
  <% });  %>
</div>
</section>

<% include ../partials/footer %>
